SECRET_KEY=django-insecure-local-secret-key-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
CLOUDINARY_URL=cloudinary://232644622892342:9WflLy0KtahD2BPagPg-YOisIQs@dxvxddfdd
